.header{
  display: flex;
  align-content: center;
  justify-content: center;
}

.menus ul li{
  display: inline;
  padding: 0 20px;
}

.hero-section{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: red 1px solid;
  text-align: center;
}

.product-section{
  display: flex;
  flex-wrap: wrap;
  border: green 1px solid;
}

.product-card{
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 200px;
  margin: 10px;
}


.inner-proudct-card{
  padding-left: 10px;
}
