#root{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.logo-container{
  padding: 10px 0;
}

.menus{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menus li{
  display: inline;
  padding: 0 20px;
}

.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  padding: 20px;
  text-align: center;
  background:linear-gradient(0deg, rgba(0, 71, 32, 0.3), rgba(0, 0, 0, 0.3)), url(static/images/rolex-watch.webp);
  background-position: center;
  background-size: cover;
  color: white;
}

.hero-section button{
  border: none;
  background-color: rgb(14, 143, 255);
  margin: 10px 0;
  padding: 10px;
  color: white;
}

.product-section{
  display: flex;
  flex-wrap: wrap;
  border: green 1px solid;
}

.product-card{
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 200px;
  margin: 10px;
}


.inner-proudct-card{
  padding-left: 10px;
}


.footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #212121;
  color: white;
  padding: 40px 20px;
}