.hero-section{
  align-content: center;
}

.product-card{
  border: solid 1px black;
  width: 200px;
  height: 400px;
  margin: 10px;
}

.product-card img{
  height:70%;
  width: 200px;
  
}

.inner-proudct-card{
  padding-left: 10px;
}
