*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.page{
  padding: 40px 20px;
  min-height: 100vh;
}

.header{
  justify-content: space-evenly;
  position: sticky;
  z-index: 1;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

}


nav a{
  text-decoration: none;
}

.logo-container img{
  width: 200px;
}

#menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu ul{
  margin-bottom: 0;
}

#menu a{
  color: black;
}

#menu li{
  display: inline;
  padding: 0 20px;
}

.menu-icon{
  display: none;
  background-color: transparent;

  outline: none;
  border: none;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #212121;
  color: white;
  padding: 40px 20px;
  margin-top: auto;
}
